body {
    font-size: 1em;
    color: #aaa;
    margin: 20px;
    width: 300px;
}


#timer > div {
    padding: 0 10px;
}
#timer > div > span {
    font-weight: bold;
}
span.day {
    color: #888;
}
span.hours {
    font-size: 2em;
    color: #666;
}
span.minutes {
    font-size: 1.75em;
    color: #777;
}
span.seconds {
    font-size: 1.4em;
    color: #888;
}