body {
    font-size: 1em;
    color: #aaa;
    margin: 20px;
    width: 300px;
}


#timer {
    display: grid;
    grid-template-columns: 120px 1fr;
    
}
#timer > div {
    padding: 10px;
}
#timer > .day.today, #timer > .time.today {
    background-color: #eee;
}
#timer > .allday {
    font-size: 1.9em;
}


.time {
    font-size: 1.9em;
    color: #444;
}
#timer > span {
    font-weight: bold;
}
span.hours {
    color: #666;
}
span.minutes {
    color: #777;
}
span.seconds {
    color: #888;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #aaa;
}
#buttons > div {
    padding: 10px;
}
.prev, .next {
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.prev:hover, .next:hover {
    color: #555;
    background-color: #eee;
}



.clock {
    position: relative;
    display: grid;
    grid-template-columns: 24px 24px 8px 24px 24px 8px 24px 24px;
    text-align: center;
    overflow: hidden;
    height: 35px;
}
.clock > .digit {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.clock.anim > .secs {
    animation: timer infinite 10s steps(10);
}
.clock.anim > .secsTen {
    animation: timer infinite 60s steps(6);
}
.clock.anim > .mins {
    animation: timer infinite 600s steps(10);
}
.clock.anim > .minsTen {
    animation: timer infinite 3600s steps(6);
}
.clock.anim > .hours {
    animation: timer infinite 36000s steps(10);
}
.clock.anim > .hoursTen {
    animation: timer infinite 216000s steps(6);
}


@keyframes timer {
    from { top: 0; }
    to { top: -350px; }
}