body {
    font-family: sans-serif;
    font-size: 1em;
    color: #ff4f70;
    margin: 20px;
    background-color: #292929;
    font-weight: bold;
}
.header {
    display: flex;
    justify-content: center;
}
.header span {
    padding-left: 15px;
    font-size: 40px;
}


#timer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 335px;
}
#timer > div {
    padding: 10px;
}
#timer > .day {
    color: rgb(250 131 149 / 65%);
}
#timer > .day.today, #timer > .time.today {
    background-color: rgb(0 0 0 / 15%);
}
#timer > .allday {
    color: #ff8295;
    font-size: 1.9em;
}


.time {
    font-size: 1.9em;
}


#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
#buttons > div {
    color: #ff8295;
    padding: 10px;
}
.prev, .next {
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.prev:hover, .next:hover {
    background-color: #3e2d2d;
}



.clock {
    position: relative;
    display: grid;
    grid-template-columns: 24px 24px 12px 24px 24px 12px 24px 24px;
    text-align: center;
    overflow: hidden;
    height: 35px;
}
.clock > .digit {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.clock.anim > .secs {
    animation: timer infinite 10s steps(10);
}
.clock.anim > .secsTen {
    animation: timer infinite 60s steps(6);
}
.clock.anim > .mins {
    animation: timer infinite 600s steps(10);
}
.clock.anim > .minsTen {
    animation: timer infinite 3600s steps(6);
}
.clock.anim > .hours {
    animation: timer infinite 36000s steps(10);
}
.clock.anim > .hoursTen {
    animation: timer infinite 216000s steps(6);
}


@keyframes timer {
    from { top: 0; }
    to { top: -350px; }
}